.productContainer{
    width: 170px;
    height: 135px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;

}
.priceContainer{
    display: flex;

}